<div class="clearfix civicase__summary-tab-tile-container">
    <div class="civicase__summary-tab-tile panel panel-default civicase__panel-transparent-header col-lg-6 col-md-12">
      <div class="panel-heading">
        <h3 class="panel-title">Case outcome</h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="activity in activities">
          <h3>{{activity['activityType.label']}}</h3>
          <div ng-repeat="customField in activity.customFields">
            <strong>{{customField.label}}</strong>
            <span>{{customField.value}}</span>
          </div>
          <hr ng-if="!$last" />
        </div>
      </div>
    </div>
</div>
